body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main{
  /* width: 90%;
  margin: auto;
  border: 1px solid black;
  min-height: 900px; */
  
  width: 85vw;
  min-height: 120vh;
  max-width: 1324px;
  margin: 15px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);


}

.H4{
  margin: 3%;
}

.home-page-main-photo{
  border-radius: 20%;
  width: 50%;
}

.inputfocus:focus {
  border: 1px solid #1DB954 ;
  background-color: #FFFAFA;
}

.inputfocus1:focus{
  border: 1px solid #DC143C ;
  background-color: #FFFAFA;
}

.forgot-user:hover{
  color: blue;
  text-decoration: underline;

}
.forgot-user{
  color: #1DB954;
}

.a-tag-style{
  color: white;
}